<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="/js/js.js" defer></script>
</head>
<body>
<div id="app">
    <button v-on:click="getCart">Корзина <span v-bind:count="count">${ count }</span></button>
    <cart-component v-bind:cart="cart"></cart-component>

    {{ login | raw }}
    {{ menu | raw }}
    {{ content | raw }}
</div>
</body>
</html>