<cart-component v-bind:cart="cart"></cart-component>
<button v-on:click="fillCart">Заполнить корзину</button>
<span v-bind:count="count">${ count }</span>

<script>
    Vue.component('cart-component', {
        delimiters: ['${', '}'],
        props: ['cart'],
        template: '<ol>' +
            '        <li' +
            '                v-for="item in cart"' +
            '                v-bind:item="item"' +
            '                v-bind:key="item.product_id"' +
            '        >${ item.title }</li>' +
            '    </ol>'
    });
</script>
